header.header
  a.header__logo.logo(href='/')
    img.logo__image(src='/img/icons/logo-image-only.svg' alt='логотип Тайпотеки')
    span.logo__name Типотека
  if (!user || !user.isAdmin)
    nav.header__nav
      ul.header__nav-list
        li.header__list-item
          if user
            p #{`${user.name} ${user.surname}`}
          else
            a.header__registration(href='/register') Регистрация
        li.header__list-item
          if user
            a.header__exit(href='/logout') Выход
          else
            a.header__enter(href='/login') Вход с паролем
  if (user && !user.isAdmin)
    a.header__avatar.avatar
      img(src=`img/${user.avatar}` alt='аватар пользователя')
  else if (user && user.isAdmin)
    button.button.button--colored.header__button-new
      a(href="/articles/add") Новая запись
    .header__dropdown
      a.button.button--burger.header__burger(href='#') Открыть меню
      ul.navigation.header__navigation
        li.navigation__item
          a(href="/my") Статьи
        li.navigation__item
          a(href="/my/comments") Комментарии
        li.navigation__item
          a(href="/categories") Категории
  a.header__search.button.button--search(href='/search' aria-label='поиск по сайту')
