extends layout.pug

block content
  -
    const formatDate = (dateString) => {
      const date = new Date(dateString);
      return date.toLocaleString(`ru-RU`, {hour12: false});
    }
  main.main-page.main-page--padding
    section.main-page__notes.notes
      h1.notes__title Мои записи
      ul.notes__list
        each article in articles
          li.notes__list-item
            time.notes__item-time(datetime='#{formatDate(article.publicationDate)}') #{formatDate(article.publicationDate)}
            a.notes__item-text(href='#') #{article.announce}
            button.notes__button.button.button--close-item(type='button')
              span.visually-hidden Закрыть строку списка
