extends layout.pug

block content
    main
        h1.visually-hidden Регистрация пользователя
        section
            .popup.popup--registration.popup--anti
                a.popup__button.button.button--popup-close(aria-label='Закрыть окно')
                    | Закрыть
                    | окно
                h2.popup__title Регистрация
                .popup__form.popup__form--active.form.form--register
                    form(action='/register' method='POST' enctype='multipart/form-data')
                        .form__field
                            label
                                input(type='email' name='email' value=(formData ? formData.email : '') placeholder='Электронная почта' required='')
                        .form__field
                            label
                                input(type='text' name='name' value=(formData ? formData.name : '') placeholder='Имя' required='')
                        .form__field
                            label
                                input(type='text' name='surname' value=(formData ? formData.surname : '') placeholder='Фамилия')
                        .form__field
                            label
                                input(type='password' name='password' placeholder='Пароль' required='')
                        .form__field
                            label
                                input(type='password' name='repeat-password' placeholder='Повтор пароля' required='')
                        +validationErrors(errors, "При создании пользователя произошли ошибки:")
                        .form__image-loader
                            a.form__avatar.avatar
                                img(src=(formData && formData.avatar ? `/img/${formData.avatar}` : `/img/icons/smile.svg`) alt='аватар пользователя')
                            label
                                input.visually-hidden(type='file' name='avatar' value=(formData ? formData.avatar : ''))
                                | Загрузить фото профиля
                        button.form__submit-btn.form__submit-btn--register.button.button--colored(type='submit') Зарегистрироваться
